<html xmlns:th="http://www.thymeleaf.org">
<body>


<div th:replace="fragments/header :: header"></div>
<div class="container">

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <h2 class="intro-text text-center">
        Beginners
        <strong> gear and advice</strong>
      </h2>
      <hr/>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p>
            It is important that new and prospective members should have the correct gear before embarking on their first  hillwalk. Please look at the gear listed below for an idea of what is required.
          </p>
          <p>
            For information on what grade of walk new members should start with and for the general rules of the club, then  please visit our Club info + Rules page.
          </p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-2">
          <img src="img/bhcbegin_walk.jpg" title="" alt="" style="width: 200px; height: 255px;" />
        </div>
        <div class="col-md-8 col-md-offset-1">
          <p>
            Hillwalking Gear : - It may sound obvious but many people new to hillwalking do not appreciate how difficult it can be walking on Irish mountains. At the base of the mountain, it may seem mild and calm while at the summit, the temperature can be 5 to 10 degrees cooler with a howling wind. As an island out in the Atlantic, Ireland gets more than it's fair share of rain and weather conditions on the hills can change rapidly. More often than not, there are no tracks and the ground can be wet and boggy.
            It pays to have good gear, especially the correct type of boots and jacket.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <p>
            Boots - For Irish conditions, you need boots that can....
          </p>
          <ul>
            <li>
              Handle the wet boggy conditions and keep your feet dry
            </li>
            <li>Give a good grip on soft slippery surfaces</li>
            <li>Provide ankle support</li>
          </ul>
          <p>
            Good hillwalking stores sell popular brands like Meindl. You should expect to pay in excess of €100 for a good pair. You really need to go into a good hillwalking store and see what type of boot suits your feet rather than buying a pair over the Internet.
          </p>
        </div>
        <div class="col-md-2">
          <img src="img/bhcbegin_boots.jpg" title="" alt="" style="width: 200px; height: 162px;"/>
        </div>

      </div>
      <hr/>
    </div>
  </div>
</div>


<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <div class="row">
        <div class="col-md-2">
          <img src="img/bhcbegin_jacket.jpg" title="" alt="" style="width: 200px; height: 218px;" />
        </div>
        <div class="col-md-8 col-md-offset-1">
          <p>
            <b>Jacket - </b>There are many different types. Some are light and suitable only for mild conditions while others are suitable for the harshest of winter conditions. A good jacket should...
          </p>
          <ul>
            <li>Be made from a material like Gortex and be breathable. It should let moisture from sweat pass through yet keep out the rain.</li>
            <li>Have plenty of pockets for gloves, scarves, etc.</li>
            <li>Have a storm flap at the front to prevent rain getting through the zip</li>
            <li>Provide protection from the wind.</li>
          </ul>
          <p>
            Again, it's probably best to buy them in a good local hillwalking store rather than over the Internet.
          </p>
        </div>
      </div>
      <hr/>

    </div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <p>
            Trousers - Light trousers or tracksuit bottoms can be worn. The idea is that if they get wet, they should be able to dry out quickly. Denim jeans should NEVER be worn. When they get damp, whether it is due to rain or sweat, they will cling onto your legs impeding movement and conducting heat away from your body. Some of the better products are made from a stretchable material which dries out very quickly. In the summer time, shorts are ideal. Because your legs are doing most of the work, they tend to stay warm regardless of conditions.
          </p>
        </div>
        <div class="col-md-2">
          <img src="img/bhcbegin_trousers.jpg" title="" alt="" style="width: 151px; height: 274px;" />
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <div class="row">
        <div class="col-md-2">
          <img src="img/bhcbegin_fleece.jpg" title="" alt="" style="width: 200px; height: 244px;" />
        </div>
        <div class="col-md-8 col-md-offset-1">
          <p>
            Vests + Tops - Ususally the best type of undergarment to wear is a thermal vest. Cotton T-shirts should be avoided. The problem with cotton is that it tends to get damp with sweat and does not dry out easily. The following is what typically happens to someone who wears a cotton t-shirt :- They walk and start to sweat.......the cotton T-shirt gets damp but because they are walking, the T-shirt is still warm......they stop for lunch......they stop producing heat.....the damp T-shirt gets cold.....now the damp cold T-shirt conducts heat away from the walker making them feel cold.
          </p>
          <p>
            Thermal vests on the other hand are made from man-made materials and they allow a process called wicking to occur. The material takes the sweat away from the skin and transfers it to the outside of the garment where it evaporates easily. Because the thermal vest does not retain as much moisture, it does not get cold when you stop walking. Typical good makes are Helly Hansen, Berghaus, Lowe Alpine, etc.
          </p>
          <p>
            The next layer above the thermal vest should be a good fleece. It pays to get a good brand that is a snug fit rather than the cheaper baggy variety which allow draughts of cold air to get in.
          </p>
          <p>
            More often than not, that's all you need to wear on top...a thermal vest, a good fleece and then the jacket.
          </p>
        </div>
      </div>
      <hr/>

    </div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <p>
            Rucksacks - Most beginners think a rucksack is a rucksack, somewhere where you stick your lunch and flask and that's it. As with all things in hillwalking, you get what you pay for. The problem with a typical cheap rucksack (~€20) is that it may not have padding and will probably be flat. These type can rest in the small of the back creating a damp spot that goes cold once you stop. The better quality rucksacks will have an internal frame which leave a gap between the bag and the walkers back. They often have pull-out rain covers as well to stop rain getting into the bag. What type you get is really a personal choice.
          </p>
        </div>
        <div class="col-md-2">
          <img src="img/bhcbegin_rucksack.jpg" title="" alt="" style="width: 200px; height: 224px;" />
        </div>

      </div>
    </div>
  </div>
</div>





<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <div class="row">
        <div class="col-md-2">
          <img src="img/bhcbegin_poles.jpg" title="" alt="" style="width: 200px; height: 241px;" />
        </div>
        <div class="col-md-8 col-md-offset-1">
          <p>

            Walking Sticks - These are a matter of personal preference. Some people swear by them, some don't. They can take a lot of the pressure off the knees and legs, especially when walking downhill. It is probably best to borrow a pair or buy a cheap pair before you commit to buying a good set.
          </p>
        </div>
      </div>
      <hr/>

    </div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <p>
            Miscellaneous items : -
            Compass and maps........not required by beginners as the walk leader is doing the navigating. It might be useful at a later stage if you want to learn the basics.
            Flask.......it goes without saying that a hot drink on a cold day helps a lot. You can buy more robust versions of a small flask in good hillwalking stores.
            Emergency bag.......large orange emergency bags can be purchased for a small fee. The idea is that they can be used to keep dry in the event of a serious accident. They can also double up as a seat when you are looking for a dry spot on wet ground.
            Fold away mat.......you unfold it and sit on it. Only becomes obvious you need something like this when you are trying to find a dry spot to sit down.
            Gloves......because your hands are usually doing very little work when you are walking, they are the first part of the body to get cold when the body is trying to conserve heat. It pays to buy 2 types...a light pair just to keep the hands warm when there is a slight chill and a heavy pair for winter conditions.
          </p>
        </div>
        <div class="col-md-2">
          <img src="img/bhcbegin_compass.jpg" title="" alt="" style="width: 200px; height: 200px;" />
        </div>

      </div>
    </div>
  </div>
</div>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>