<html xmlns:th="http://www.thymeleaf.org">
<body>


<div th:replace="fragments/header :: header"></div>
<div class="container">


<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <h2 class="intro-text text-center">
        Calendar for walks
      </h2>
      <hr/>
      <p>
        Calendar of Club Walks -

        Please note that for insurance reasons, all walks are for club members only

        There are no 'trial walks'

        Note that walks can be cancelled due to bad weather. Check the weekly e-mail to club members for the most up to date information regarding planned and extra walks.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <p>
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
            </tr>
          </thead>
<tr><td>July 02 (Sat)</td><td><b>THE GAP-BAY LOUGH-THE VEE-GRUBB MONUMENT-SUGARLOAF HILL-KNOCKMEALDOWN-COL-THE GAP</b> (B: 12 km, 1028 m, 4.5 h) Shorter option 7.2 km, 500 m, 3 h; The Gap / Marian Shrine 1000 (SC)</td></tr>
<tr><td>July 02 (Sat)</td><td><b>THE PAPS, SHRONE + THE PAPS return</b> (B+: 6.5 h) Cork 0800 + Church of the Wayside 0900 (Pat McCarthy)</td></tr>
<tr><td>July 03 (Sun)</td><td><b>LOUGH CURRA</b> (C) Firgrove Hotel Mitchelstown 1030 (Brendan Hegarty + Tony Wall)</td></tr>
<tr><td>July 05 (Tue)</td><td><b>MONKSTOWN</b> (D) Car park opposite The Bosun at 1900 (Kate Walsh)</td></tr>
<tr><td>July 06 (Wed)</td><td><b>THE HIGH GALTEES</b> (Coumbawn Wood to Glengarra Wood via Temple Hill, Knockaterriff Beg, Lyracappul, Carrignabinnia, Slievecushnabinnia, Galtymore, Galtybeg, Hill 786 + O’Loughlin’s Castle) (A+: 20.0 km, 1300 m, 7.5 to 8 h) Cork 0800 + Firgrove Hotel Mitchelstown 0900 (SC)</td></tr>
<tr><td>July 09 (Sat)</td><td><b>LYRACAPPUL CIRCUIT</b> (B: 13 km, 850 m, 5 h) Firgrove Hotel 0915 (Harry Dillane)</td></tr>
<tr><td>July 09 (Sat)</td><td><b>CURRAGHMORE LAKE, CARRAUNTOOHIL, CAHER, BRIDIA VALLEY, BLACK VALLEY</b> (A: 21 km, 1200 m, steep climb, 7.5 h) Kate Kearney’s Cottage 0930 (Pat + Victor)</td></tr>
<tr><td>July 10 (Sun)</td><td><b>BLACKROCK GLEN</b> (C) Firgrove Hotel Mitchelstown 1030 (Brendan Hegarty and Tony Wall)</td></tr>
<tr><td>July 12 (Tue)</td><td><b>21 DITCHES</b>, Marlogue, Great Island (D, 2h) Meet at The Marlogue Inn in Great Island at 1900 (Kate Walsh)</td></tr>
<tr><td>July 13 (Wed)</td><td><b>HUNGRY HILL, GLASS LOUGHS</b> (B: 12 km, 750 m, 5 h) Eccles Hotel Glengarriff 1000 (Jim Harrington + Paddy O’Shea)</td></tr>
<tr><td>July 14 (Thu)</td><td><b>MANGERTON PLATEAU</b> (Long B: 19 km, 850 m, 6.5 h) from Rossacroonaloo Wood on Kilgarvan Road 0930 (Cesar Lopez)</td></tr>
<tr><td>July 16 (Sat)</td><td><b>GOUGANE BARRA FOREST PARK</b> + source of River Lee (C: 10 km, 325 m, 4 h) Gougane Barra Hotel 1045 (SC)</td></tr>
<tr><td>July 17 (Sun)</td><td><b>BARRABOY MOUNTAIN</b> (C: 450 m, 12 km, 4.5 h) Eccles Hotel Glengarriff 1055 (Joan McCann + Joan Harrington)</td></tr>
<tr><td>July 17 (Sun)</td><td><b>GALTYMOR + GALTYBEG via Cooper’s Wood</b> (B: 12 km, 950 m, 4.5 h) Firgrove Hotel 0915 (Harry Dillane)</td></tr>
<tr><td>July 19 (Tue)</td><td><b>GLENBOWER WOOD</b> (D: 7 km, 100 m, 2.25 h) Cork 1830 + Old Thatch Pub Killeagh 1930 (SC)</td></tr>
<tr><td>July 20 (Wed)</td><td><b>CUSH HORSESHOE</b> (Cush, Galtybeg, Galtymore) from Clydagh Bridge (B: 10 km, 1030 m, 5 h) Firgrove Hotel 0930 (John Hallissey)</td></tr>
<tr><td>July 23 (Sat)</td><td><b>LAKES OF KILLARNEY</b> boat trip to Brandon’s Lodge (14 km, 1.75 h) + walk The Black Valley + Gap of Dunloe to Kate Kearney’s Cottage  (D: 13 km, 200 m, 2.5 h, € 12). Bishopstown 0800 (Drop your passengers off first at Ross Castle, then drive your car to KK’s Cottage where we will arrange a lift back to Ross Castle for you at 0945) Bookings to SC before 16th July (SC)</td></tr>
<tr><td>July 23 (Sat)</td><td><b>MAULIN CIRCUIT</b> (B: 15 km, 750 m, 5.5 h) Eccles Hotel, Glengarriff.1000 (Jim Harrington + Paddy O’Shea)</td></tr>
<tr><td>July 24 (Sun)</td><td><b>OLD KENMARE ROAD from TORC to KENMARE</b> (Long C: 17 km, 500 m, 5 h, OS78) (b) Galwey’s Bridge to Gowlane Cross (C: 11 km, 500 m) (c) Galwey’s Bridge to Kenmare (C: 14 km, 500 m) Square in Kenmare 1045; Bus to Torc 1100, Eu5, Names before July 16, Phone 0872999648 (Helen + Billy)</td></tr>
<tr><td>July 24 (Sun)</td><td><b>WESTERN GALTEES</b> (B: 16 km, 1000 m, 6 h,) Firgrove Hotel 0930 (Katherine + Sharon)</td></tr>
<tr><td>July 26 (Tue)</td><td><b>CRUACHÁN WOOD, BRIDGET’S WELL, TEMPLEBREEDY, CHURCH BAY, WEAVER POINT, GRAB-ALL BAY + CAMDEN FORT MEAGHER</b> (D: 8 km, 120 m, 2.3 h) Cork 1815 + Cronin’s Pub in Crosshaven 1900 (SC)</td></tr>
<tr><td>July 27 (Wed)</td><td><b>THE GALTEES WALK</b> (entire Galtees from East to West) (A+: about 30 km, 1600 m, up to 10 h) Cork 0730 + Firgrove Hotel Mitchelstown 0815 (SC)</td></tr>
<tr><td>July 29 (Fri)</td><td><b>DUNQUIN Long week-end</b> (B, C + D)</td></tr>
<tr><td>July 29 (Fri)</td><td><b>CILL GHOBNAIT loop</b> (including Ryan’s Daughter Village + Schoolhouse + Blasket Interpretive Centre) (D: 8 km, 200 m, 4 h) Cork 0930 + 1900 and An Portán 1300 (SC)</td></tr>
<tr><td>July 30 (Sat)</td><td><b>THE GREAT BLASKET ISLAND</b> (B: 14 km, 650 m, 4 h to An Ceann Dubh) + (C: 10 km, 470 m, 3.5 h) + (D: 6 km, 160 m, 2 h) Cork 0600 + Dunquin Pier 0900; Boat deposits eur 10 before 20th July (SC, Padraig Hamilton, et al)</td></tr>
<tr><td>July 31 (Sun)</td><td><b>SEVEN HEADS LOOP</b>, Courtmacsherry (C: 15 km, 150 m, 4 h, OS Map 67) Hotel car park in Courtmacsherry 1045 (Helen + Billy)</td></tr>
<tr><td>July 31 (Sun)</td><td><b>BRANDON MOUNTAIN</b> (B: 11.5 km, 850 m, 4 h), (to Conor Pass: B+: 16 km, 1200 m, 4.5 h) Cork 0730 + Dingle Town Roundabout (west end of town) 1000 (SC)</td></tr>
<tr><td>August 01 (Mon)</td><td><b>CEATRU to COUMEENOOLE</b> via Ryan’s Daughter village, Cruach Mharthain, Mount Eagle + Slea Head (B: 12 km, 800 m, 4.5 h), (C: 8 km, 400 m, 4 h) Cork 0730 + An Portán 1030 (SC)</td></tr>
<tr><td>August 02 (Tue)</td><td><b>CURRAGH WOOD</b> (D+: 2 h) on Midleton / Lisgoold road 1900 (SC, Cork 1815)</td></tr>
<tr><td>August 03 (Wed)</td><td><b>Up HEAVEN’S GATE, CARRAUNTOOHIL</b> and down O’Shea’s Gully (B+: 13 km, 945 m, 6 h) Fossa Church 0945 (John Hallissey)</td></tr>
<tr><td>August 04 (Thu)</td><td><b>CAPPAGH GLEN-STOOMPA-LOUGH FINEEN</b> (B: 14.5 km, 950 m, 6 h) from Rossacroonaloo Wood on Kilgarvan Road 0930 (Cesar Lopez)</td></tr>
<tr><td>August 06 (Sat)</td><td><b>BALLINGEARY SOUTH</b> (D+: 10 km, 250 m, 3 h) Western end Ballingeary Village 1030 (Frances Kenny)</td></tr>
<tr><td>August 06 (Sat)</td><td><b>PURPLE MOUNTAIN</b> (B: 15 km, 900 m, 5.5 h) Optional extra: Shehy Mountain (0.5 h); Kate Kearney’s Cottage 1000 (SC)</td></tr>
<tr><td>August 07 (Sun)</td><td><b>KNOCKBOY</b> (C: 400 m, 9 km, 4 h) Texaco garage/ Centra shop Ballylickey at 1045 (Joan McCann + Joan Harrington)</td></tr>
<tr><td>August 09 (Tue)</td><td><b>BALLYANNON WOOD + BEALICK WALK,</b> (D: 10 km, 2 h) Cork 1800 + Midleton Park Hotel 1830 (SC)</td></tr>
<tr><td>August 10 (Wed)</td><td><b>TEMPLEHILL</b> from Kilbehenny (B: 14 km, 600 m, 4.5 h)  Firgrove Hotel 0930 (SC)</td></tr>
<tr><td>August 11 (Thu)</td><td><b>LOUGH HYNE</b> (C; 8km; 250m 4h including the Rapids area) Lough Hyne 1130 (John O’Donovan + Jim Harrington)</td></tr>
<tr><td>August 13 (Sat)</td><td><b>GOUGANE BARRA FOREST PARK + source of River Lee</b> (C: 10 km, 325 m, 4 h) Gougane Barra Hotel 1045 (SC)</td></tr>
<tr><td>August 13 (Sat)</td><td><b>DERRYMORE GLEN, CAHERCONREE, BAURTREGAUM CIRCUIT</b> (B+: 13 km, 1080 m, steep climb, 6.5 h) Cork 0800 + Blennerville Windmill Tralee 1000 (Pat + Victor)</td></tr>
<tr><td>August 14 (Sun)</td><td><b>LACKABAUN</b> (C: 13 km, 400 m, 4 h, OS Map 79) Abbey Hotel Ballyvourney for Tea and Scones 1045. Same Craic agus Ceol in Top of Coom pub after walk with B walkers. Music from 1700 (Helen + Billy)</td></tr>
<tr><td>August 14 (Sun)</td><td><b>LACKABAUN</b> (B: 12 km, 700 m, 5 h) Cork 0930 + Abbey Hotel, Ballyvourney 1030 (Craic agus Ceol afterwards at the Pub, Top of the Coom (Jim Harrington + Paddy O’Shea) </td></tr>
<tr><td>August 16 (Tue)</td><td><b>WARRENSCOURT WOOD + KILMURRY WOOD,</b> near Lissarda, Warrenscourt Wood car park 1900 (not Kilmurry Wood car park near Kilmurry Village) (D: 5 km, 150 m, 2 h) SC, Cork 1830)</td></tr>
<tr><td>August 17 (Wed)</td><td><b>BARRABOY</b> (B: 13 km, 650 m, 5 h) Eccles Hotel Glengarriff 1000 (Jim Harrington + Paddy O’Shea)</td></tr>
<tr><td>August 19-21</td><td><b>CLOGHANE week-end</b> (B + C; SC, Michael Henchion, et al)</td></tr>
<tr><td>August 20 (Sat)</td><td><b>(i) FAHA to PATER NOSTER LAKES</b> (C: 8 km, 300 m, 3 h); <b>(ii)CLOGHANE to PATER NOSTER LAKES</b> (C+: 10 km, 500 m, 4 h; <b>(iii) CLOGHANE to BRANDON MOUNTAIN</b> (B: 12 km, 950 m, 5.5 h); <b>(iv) CLOGHANE to FAHA RIDGE</b> (B+: 14 km, 1180 m, 5 h with scrambling/exposure); <b>(v) CONOR PASS to CLOGHANE</b> via Brandon  (B: 17 km, 900 m, 6.5 h) Cork 1830 Friday + 0800 Saturday, Cloghane 1030 (Michael Henchion, SC, et al)</td></tr>
<tr><td>August 21 (Sun)</td><td><b>AHAKISTA LOOP</b>, Sheep's Head (C: 10 km, 390 m, 4 h) Durrus Village 1100 (Frances + Deirdre)</td></tr>
<tr><td>August 21 (Sun)</td><td><b>BRANDON POINT - SAUCE CREEK CLIFF</b> (Easy B: 9 km, 680 m, 3.75 h) Optional extra:  Steep descent to sea-level in SAUCE CREEK and back (B+: extra 400 m steep climb) (SC, et al); Cork 0800 + Cloghane 1030 (Michael Henchion + SC)</td></tr>
<tr><td>August 23 (Tue)</td><td><b>GLENBOWER WOOD</b> (D: 7 km, 100 m, 2.25 h) Cork 1800 + Old Thatch Pub Killeagh 1900 (SC)</td></tr>
<tr><td>August 24 (Wed)</td><td><b>CAPPAGH GLEN-BENNAUNMORE-LOUGH NABRODA-CROHANE-CROHANE LAKE</b> (B+: at B pace for regular B walkers: 17 km, 1200 m, 7 h) from Rossacroonaloo Wood on Kilgarvan Road 0930 (Cesar Lopez) </td></tr>
<tr><td>August 27 (Sat)</td><td><b>KILCORAN WOOD-D+G’s BED-FEARBREAGA-GREENANE-O’LOUGHNAN’S CASTLE-HILL-GLENGARRA WOOD NW horseshoe</b> (B: 17 km, 1030 m, 5.5 h) Cork 0830 + Firgrove Hotel Mitchelstown 0930 (SC)</td></tr>
<tr><td>August 28 (Sun)</td><td><b>COMMERKANE CIRCUIT</b> (C: 12 km, 400 m, 4.5 h, OS Map 85) Eccles Hotel Glengarriff 1045 (Helen + Billy)</td></tr>
<tr><td>August 30 (Tue)</td><td><b>OLDCOURT WOOD</b> (D+: 5.5 km, 225 m, 2 h) Cork 1800 + top of Clarke’s Hill, Rochestown at 1830 (SC)</td></tr>
<tr><td>August 31 (Wed)</td><td><b>CENTRAL GALTEES</b> (Glengarra Wood-Knockeenatoung-col-Galtymore-Galtybeg-hill 786-O’Loughlan’s Castle - Greenane-Farbreaga-hill 631- D+G’s Bed-Kilcoran Wood) (A: 20.5 km, 1300 m, 7 h) Cork 0800 + Firgrove Hotel Mitchelstown 0900 (SC)</td></tr>
<tr><td>September 03 (Sat)</td><td><b>SLIEVENAMON</b>(C+: 7 km, 480 m, 2.5 h) Cork 0930, Firgrove Hotel Mitchelstown 1015 + Kilcash Village 1100 (SC)</td></tr>
<tr><td>September 03 (Sat)</td><td><b>COOMERKANE RIDGE</b> (B: 10 km, 600 m, 4.5 h; optional extra Sugarloaf 2.5 km, 250 m, 1 h) Eccles Hotel, Glengarriff 1000 (Jim Harrington + Paddy O’Shea)</td></tr>
<tr><td>September 03 (Sat)</td><td><b>BROAGHNABINNE + LOUGH DUFF Horseshoe</b> (A: 17 km, 1100 m, 6.5 h, Scrambling and exposure) Kate Kearney’s Cottage 0930 (Pat McCarthy)</td></tr>
<tr><td>September 04 (Sun)</td><td><b>RAMBLE IN THE NAGLES</b> (C) Ballyhooly RC Churcch 1030 (Brendan Hegarty + Tony Wall)</td></tr>
<tr><td>September 04 (Sun)</td><td><b>CARRAUNTOOHIL</b> (B+: 13 km, 945 m, 6.5 h) Cork 0800 + Fossa Church 0915 (Harry Dillane, et al)</td></tr>
<tr><td>September 06 (Tue)</td><td><b>RIVER MARTIN TRAIL</b> (Blarney-Waterloo; D: 6.5 km, 1.5 h) Cork 1800 + Blarney Woollen Mills 1830 (SC)</td></tr>
<tr><td>September 07 (Wed)</td><td><b>Up THE BONE and down ZIG-ZAGS</b> (B: 12 km, 845 m, 5 h) Fossa Church 0945 (John Hallissey)</td></tr>
<tr><td>September 10 (Sat)</td><td><b>GLENGARRA WOOD</b> (D: 6.2 km, 180 m, 2 h) Cork 0930 + Firgrove Hotel Mitchelstown 1030 (SC)</td></tr>
<tr><td>September 10 (Sat)</td><td><b>BRASSEL EAST RIDGE, CRUACH MHOR</b>, via The Big Gun (A: 11 km, 1080 m, hard scrambling and exposure, 7.5 to 8 h) Kate Kearney’s Cottage 0930 (Pat + Victor)</td></tr>
<tr><td>September 11 (Sun)</td><td><b>SLIEVEANARD</b> (C: 400 m, 13 km, 4h) Firgrove Hotel Mitchelstown 1040 (Joan McCann + Joan Harrington)</td></tr>
<tr><td>September 11 (Sun)</td><td><b>PURPLE MOUNTAIN via The Chimneys</b>  (B: 15 km, 900 m, 5.5 h)  Kate Kearney’s Cottage 1000 (Harry Dillane)</td></tr>
<tr><td>September 14 (Wed)</td><td><b>MANGERTON, ESKNAMUCKY GLEN</b> (B: 13 km, 800 m, 5.5 h) Jarvey’s Rest 1000 (Jim Harrington + Paddy O’Shea)</td></tr>
<tr><td>September 17 (Sat)</td><td><b>MUSHERAMORE MOUNTAIN + MILLSTREET COUNTRY PARK</b> (C: 14 km, 500 m, 4.5 h), off Macroom/Ballinagree road (near St John’s Well, west of Musheramore Mountain); entrance to Millstreet Country Park 1015 (SC)</td></tr>
<tr><td>September 18 (Sun)</td><td><b>GLASS LOUGHS</b> (C: 11 km, 500 m, 4.5 h, OS Map) Eccles Hotel, Glengarriff 1045 (Helen + Billy)</td></tr>
<tr><td>September 21 (Wed)</td><td><b>EASTERN GALTEES horseshoe</b> (Easy B: 15 km, 750 m, 5 h) Firgrove Hotel 0930 (SC)</td></tr>
<tr><td>September 24 (Sat)</td><td><b>MULLAGHAMESHA LOOP</b> (C: 10 km, 400 m, 4 h) Supervalu car park, Main Street, Dunmanway 1030 (Frances + Deirdre)</td></tr>
<tr><td>September 25 (Sun)</td><td><b>KILLAVULLEN LOOP</b> (C) Ballyhooly RC Church 1030 (Brendan Hegarty + Tony Wall)</td></tr>
<tr><td>September 25 (Sun)</td><td><b>THE ROUGHTY RIVER from the Top of Coom</b> (B: 15 km, 650 m, 5 h) The Mills, Ballyvourney 0930 (Joan Faherty)</td></tr>
<tr><td>September 28 (Wed)</td><td><b>THE GAP-BAY LOUGH-THE VEE-GRUBB MONUMENT-SUGARLOAF HILL-KNOCKMEALDOWN-COL-THE GAP</b> (B: 12 km, 1028 m, 4.5 h) Shorter option 7.2 km, 500 m, 3 h; The Gap / Marian Shrine 1000 (SC)</td></tr>
<tr><td>October 01 (Sat)</td><td><b>HUNGRY HILL CIRCUIT</b> (B: 13 km, 800 m, 5.5 h) Eccles Hotel, Glengarriff 1000 (Jim Harrington + Paddy O’Shea)</td></tr>
<tr><td>October 02 (Sun)</td><td><b>CARRON MOUNTAIN</b>, Ballyhouras (C: 12 km, 400 m, 4.5 h, OS Map 73) Roadside at Fermoy Swin Pool 1040 (Helen + Billy)</td></tr>
<tr><td>October 02 (Sun)</td><td><b>CARRAUNTOOHIL</b> (B+: 13 km, 945 m, 6 h) Cork 0800 + Fossa Church 0915 (Katherine + Sharon)</td></tr>
<tr><td>October 05 (Wed)</td><td><b>HUNGRY HILL from The Healy Pass</b> (B: 13 km, 700 m, 5 h) Eccles Hotel, Glengarriff 1000 (Jim Harrington + Paddy O’Shea)</td></tr>
<tr><td>October 08 (Sat)</td><td><b>CURRAGH WOOD</b> (D+: 2 h) on Midleton / Lisgoold road 1300 (SC, Cork 1200)</td></tr>
<tr><td>October 09 (Sun)</td><td><b>KNOCKMEALDPWNS</b> (C: 500 m 12 km, 4.5 h) Firgrove Hotel Mitchelstown 1040 (Joan McCann + Joan Harrington)</td></tr>
<tr><td>October 09 (Sun)</td><td><b>TEMPLEHILL from Kilbehenny</b> (B:  16 km, 850 m, 5 h) Firgrove Hotel 0915 (Harry Dillane)</td></tr>
<tr><td>October 12 (Wed)</td><td><b>MAHON FALLS + COUMTAY</b> (C+: 11 km, 400 m, 4 h) Cork 0830 + Crotty's Bar in Lemybrien 1000 (John Hallissey)</td></tr>
<tr><td>October 14 (Fri)</td><td><b>PARKNASILLA week-end</b></td></tr>
<tr><td>October 14 (Fri)</td><td><b>PARKNASILLA ESTATE LOOP</b> (C: 5 km, flat, 1.5 h) Hotel 1600 (Helen + Billy)</td></tr>
<tr><td>October 15 (Sat)</td><td><b>KERRY WAY, Blackwater Bridge to Sneem</b> (C: 14 km, 350 m, 4.5 h, OS Map 84) East Square Sneem 1015. Bus to Blackwater Bridge Eu 4. Call to Blue Bull Sneem after walk (Helen + Billy)</td></tr>
<tr><td>October 15 (Sat)</td><td><b>MULLAGHANATTIN</b> ((B+, 10 km, 1000 m, 6 h) Parknasilla Hotel at 1000 Joan Moriarty (at Hotel)</td></tr>
<tr><td>October 16 (Sun)</td><td><b>LOMANAGH LOOP WALK</b> (C: 10 km, 200 m, 4 h, OS map 84) West Square Sneem 1030 (Helen + Billy)</td></tr>
<tr><td>October 16 (Sun)</td><td><b>KNOCKNAGANTEE</b> (B: 10 km, 600 m, 5 h) Parknasilla Hotel at 1000 (Joan Moriarty at Hotel)</td></tr>
<tr><td>October 19 (Wed)</td><td><b>TEMPLEHILL from Coumbawn Wood</b> (B: 13 km, 640 m, 4 h) Firgrove Hotel Mitchelstown 0930 (SC)</td></tr>
<tr><td>October 22 (Sat)</td><td><b>GLENGARRIFF WOODS</b> (D+: 9 km, 3.5 h) Eccles Hotel Glengarriff 1045 (Deirdre)</td></tr>
<tr><td>October 23 (Sun)</td><td><b>EAST MUNSTER WAY</b> (C: 13 km, 450 m, 4.5 h, OS Map74) Mount Mellery gates1100, Tea etc. in Pilgrims Rest (Helen + Billy)</td></tr>
<tr><td>October 23 (Sun)</td><td><b>SUGARLOAF HILL + KNOCKMEALDOWN MOUNTAIN</b> (B: 13 km, 850 m, 5 h) Lismore carpark 0930 (Harry Dillane)</td></tr>
<tr><td>October 26 (Wed)</td><td><b>TBA</b></td></tr>
<tr><td>October 28 (Fri)</td><td><b>OUGHTERARD / MAAMTURKS Long Weekend</b> "B" Grade The Twelve Bens and Maumturks (Jim Harrington + Paddy O'Shea)"C" Grade Tully Mountain and Western Way (Joan McCann + Joan Harrington)</td></tr>
<tr><td>October 30 (Sun)</td><td><b>CUSH via Lough Curra</b> (B: 15 km, 850 m, 5 h) Firgrove Hotel 0915 (Harry Dillane)</td></tr>

        </table>


      </p>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {

  $('#example').dataTable( {
      "order": []
  } );

  } );
</script>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>