<html xmlns:th="http://www.thymeleaf.org">
<body>


<div th:replace="fragments/header :: header"></div>
<div class="container">

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <h2 class="intro-text text-center">
        - Walk Grades -
      </h2>
      <hr/>
      <p>
        We use the following 4 grades to describe how easy or difficult a walk will be : -
      </p>
      <ul>
        <li>
          A ’ Strenuous walk (sometimes with scrambling over steep exposed rocks) on open moorland at a fast pace and on very steep gradients for up to 10 hours.
        </li>
        <li>
          B ’ Tough walk (sometimes with some scrambling over steep ground) on open moorland at a good pace and on steep gradients for up to 6 hours.
        </li>
        <li>
          C ’ Moderate walk usually on open moorland over less steep ground at a moderate pace and on gentle gradients for up to 4 hours (A and B walkers on C walks are expected to slow down to C pace).
        </li>
        <li>
          D ’ Easy walk, mainly on relatively flat roads / paths (forests and cliff tops), at an easy pace for up to 2 hours
        </li>
      </ul>

      <p>
        Within each grade, we may often add a + or an easy description. So for example a B+ walk would be really tough walk but perhaps not hard enough to warrant making it an
        A. An Easy B might be described as a tough C walk and perhaps one that good C walkers could tackle. The pace and difficulty of a walk will often depend on who is leading it.
      </p>
      <p>
        A typical BHC walk might have the following description...
        SHEEP’S HEAD WAY to lighthouse (C: 16 km, 400 m, 5.5 h). Kilcrohane village 1130 (Grace + Deirdre)
      </p>

      From this you would pick out the following : -
      <ul>
        <li>
          a) It's a C walk.
        </li>
        <li>
          b) It's 16 kms long which when it is mostly off-road is a fair bit. It could be described as a long C walk.
        </li>
        <li>c) The total ascent 400 metres which is about right for a C walk. If it had been say 600 to 700 metres then it would be a B walk.</li>
        <li>d) The lenght of the  is 5.5 hours long which is normally a bit longer than the usual 4 hoursfor a C walk.</li>
        <li>e) The walk leaders are Grace and Deirdre who will probably walk at a modest pace with plenty of stops.</li>
      </ul>
      <p>
        It's important that new members should start off with C walks and get a feel for the different grades of walk. In time as they get used to the grades, their fitness
        levels improve and they get to know the various walk leaders, they can try a B grade walk.
      </p>

      
      <hr/>
      <h2 class="intro-text text-center">
        - Meeting Points -
      </h2>
      <hr/>
      <p>
        The usual meeting point
        for walks is the <a href="http://pininthemap.com/907d6af101c3a9716"  target="_blank">Melbourn Business Park</a> car park on the Model Farm
        Road. This small business park is just to the west of the only Texaco garage along this road.
      </p>
      <img src="bhc_graphics/Melbourn_Business_Park.jpg" title="" alt="" style="width: 400px; height: 260px;"/>

      <p>
        Please do not obstruct the entrance to Pinewood Studios furniture store as they open on Saturdays and some Sundays.
        <span style="font-family: arial;">
          Usual Winter Meeting Times =
          8.00am for A walks, 8.30am for B walks, and 9.00am for C and D walks.
          Check the weekly e-mail to members for the correct time.
        </span>
      </p>




      <hr/>
      <h2 class="intro-text text-center">
        - Secondary Meeting Points -
      </h2>
      <hr/>

      <p>
        Depending on where the
        walk leader is coming from, they may not always be present at the
        Melbourn Business Park on the day of the walk. Quiet often, members may
        meet at secondary meeting points which are closer to the walk location.
      </p>
      <p>
        Click on the links below for a map showing their location...

        <small>
          (Note...the links below should open up in a new
          window. If the map does not appear properly on the page, try hitting
          the 'refresh' or 'reload' button on your browser)
        </small>
      </p>

      <ul>

        <li>
          <a href="http://pininthemap.com/a60161da6bb0d0e3c" target="_blank">Corbett Court</a>
        </li>
        <li>
          <a href=" http://pininthemap.com/pp1f9f487c880019b69" target="_blank">Firgrove Hotel</a>
        </li>
        <li>
          <a href="http://pininthemap.com/ppfc9531df1fb42980b" target="_blank">Kings Yard</a>
        </li>
        <li>
          <a href="http://pininthemap.com/ppc70a2d7c866166f59" target="_blank">Glengarra Wood Lower</a>
        </li>
        <li>
          <a href="http://pininthemap.com/ppd1619c4dc51e96d0c" target="_blank">Glengarra Wood Youth Hostel</a>
        </li>
        <li>
          <a href="http://pininthemap.com/ppd29a99e464bb2df1b" target="_blank">Cladagh Bridge-Galtees</a>
        </li>
        <li>
          <a href="http://pininthemap.com/52ec9f60f2e94a996" target="_blank">Fossa</a>
        </li>
        <li>
          <a href="http://pininthemap.com/06b6fa46af27b441f" target="_blank">Garryduff Sports Centre</a>
        </li>
        <li>
          <a href="http://pininthemap.com/0c8ae8910d67dd040" target="_blank">Glenfesk Petrol Station</a>
        </li>
        <li>
          <a href="http://irish.gridreferencefinder.com/?gr=S0304810023%7CPoint_s_T%7C0+z=17+v=h+t=Point_s_T" target="_blank">Marian Shrine Baylough</a>
        </li>
        <li>
          <a href="http://irish.gridreferencefinder.com/?gr=W8856372543%7CPoint_s_B%7C0+z=17+v=h+t=Point_s_B" target="_blank">Midleton just off Roundabout opposite Lakeview Service Station</a>
        </li>
        <li>
          <a href="http://pininthemap.com/e60f979f1235834b3" target="_blank">Grubb Monument</a>
        </li>
        <li>
          <a href="http://pininthemap.com/fb649427920ae29ac" target="_blank">Kate Kearney's Cottage</a>
        </li>
        <li>
          <a href="http://pininthemap.com/bd48840be2273b006" target="_blank">Marlogue Inn</a>
        </li>
        <li>
          <a href="http://pininthemap.com/323e845ce72c9b8cb" target="_blank">Molly Darcy's</a>
        </li>
        <li>
          <a href="http://pininthemap.com/a261181d1b5b03946" target="_blank">Monkstown Car Park</a>
        </li>
        <li>
          <a href="http://pininthemap.com/0c2af750761422369" target="_blank">>Nire Valley Car Park</a>
        </li>
      </ul>

      <hr/>
      <h2 class="intro-text text-center">
        - Car Pooling -
      </h2>
      <hr/>

      <p>

        To cut down on travel
        expenses, members often car-pool from the main meeting point in
        Melbourn Business park or from some of secondary meeting points close
        to Cork city. The normal practice is €5 per passenger for short
        journeys (up to 50 miles) and €10 for medium journeys (50 miles +).
      </p>
      <p>
        Only FULL CARS should go
        to the start area of the walks so as not to upset the local landowners
        + others too much.

      </p>





      <hr/>
      <h2 class="intro-text text-center">
        - Club Meetings -
      </h2>
      <hr/>

      <p>
        BHC members meet
        informally every Thursday evening in the <a href="http://pininthemap.com/e5b7c03bad7f997a6" target="_blank">The Model Farm Bar (formerly McCarthy-Tennis Village)</a> <span style="font-style: italic;"></span> after 9.30pm. If you
        require further information on membership, wish to join, have questions
        about any walk, or wish to pay
        deposits, etc, please call in.
      </p>


      <hr/>
      <h2 class="intro-text text-center">
        - Club Rules -
      </h2>
      <hr/>





      <ol>
        <li>
          All walkers on
          BHC walks must be current BHC members. Non-BHC walkers, who produce
          current MCI membership cards with insurance symbol, may take part in a
          maximum of two walks.
        </li>
        <li>
          All walkers must
          register with the Walk Leader before each walk. “NO M.C.I. CARD, NO
          GO”.
        </li>
        <li>
          All new walkers,
          lapsed members, and non-regular walkers, must do at least 3 C walks
          before attempting a B walk, likewise at least 3 B walks before
          attempting an B+ walk, likewise at least 3 B+ walks before
          attempting an A walk, and must be recommended by at least two Walk
          Leaders before attempting a B or an A walk.
        </li>
        <li>
          All walkers must be
          over 18 years of age for all A, B + C walks, must wear suitable
          hillwalking gear, including boots, for all A, B and C walks and must
          make their own personal judgement as to their capacity to undertake the
          category (Grade) of walk. Be sensible/realistic re your own
          capabilities.
        </li>
        <li>
          For everybody’s safety
          and security those starting out together must stay together during the
          walk. Group walkers are expected to walk as a group, i.e. the people at
          the front must at all times keep an eye on those behind them and wait
          for them at appropriate places. Group walks as organised are
          non-competitive and all participants are to finish the walk together.
          If you are on a walk of a lower grade than your usual then you must
          slow down to the slower pace of that lower grade.
        </li>
        <li>
          If you go ahead of the
          Walk Leader and group, then you are no longer considered to be part
          of the group and you are responsible for your own actions and for those
          who follow you.
        </li>
        <li>
          If you are on
          medications or suffering from any physical, mental, or other condition
          / state that might affect you or the group on the walk, then you must
          inform the Walk Leader of it before the walk starts.
        </li>
        <li>
          All mobile phones,
          except those of the Leaders and Assistant Leaders,  must be
          switched off.
        </li>
        <li>
          Dogs not allowed on
          any walk.
        </li>
        <li>
          The walk as
          advertised may be cancelled or changed at the discretion of the Walk
          Leader.
        </li>
        <li>
          Please take home your
          litter (including orange peel and banana skins).
        </li>
        <li>
          Please observe <a href="http://www.countrysideaccess.gov.uk/things_to_know/countryside_code"
 target="_blank">The Country Code</a> and <a href="http://homepage.eircom.net/~bishopstownohc/graphics/Walking%20Code%20of%20Conduct.pdf">
            The
            I.F.A. Farmland Code of
            Conduct
          </a>
        </li>
        <li>
          You are requested not
          to smoke in the presence of fellow BHC members at all times.
        </li>
        <li>
          Any member who does
          not adhere to the above, and other BHC rules, may have their membership
          withdrawn.
        </li>
      </ol>

    </div>
  </div>
</div>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>













