<html xmlns:th="http://www.thymeleaf.org">
<body>


<div th:replace="fragments/header :: header"></div>
<div class="container">
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <h2 class="intro-text text-center">
        Sign up
      </h2>
      <hr/>
      <p>
        <b>BHC Membership Form : -</b> You can download our current membership form at this LINK. If you pay your membership by bank transfer please include your name as a reference and also email Sean Cotter confirming the transfer.
      </p>
      <p>
        Membership of Bishopstown Hillwalking Club runs from now to the 31st of October 2016. The current cost is €45.
      </p>
      <p>
        So if you join in say January, your membership lasts until the 31st of October. If you join in June, your membership will last until the 31st of October.
      </p>
      <p>
        Completed forms should be returned to :
        <address>
          Sean Cotter,
          45 Rossbrook,
          Model Farm Road,
          Cork T12 K38C
        </address>
      </p>
      <p>
        For more details or further enqueries, you can contact Sean at 021-4546194 or by e-mail to seancotter001@eircom.net
      </p>
      <p>
        For insurance reasons, you must be a member before you can join any of the club walks. Once you join BHC, you will automatically be joining Mountaineering Ireland who provide a basic insurance cover for all members. In addition, you will also receive a quarterly colour magazine from them.

      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <h2 class="intro-text text-center">
        Discounts
      </h2>
      <hr/>
      <p>
        As a member of BHC, you can avail of a 10% discount at the following stores once you provide them with a current membership card : -
      </p>
      <p>
        Freedom Gear - 10% (7.5% with credit card purchases)
        The Square, Midleton, County Cork
      </p>
      <p>
        Great Outdoors - 10%
        Daunt Square, Grand Parade, Cork City
      </p>
      <p>
        Hillwalkers @ Union Chandlery - 10% (Discount does not apply to maps and books)
        4-5 Penrose Wharf, Cork City
      </p>
      <p>
        Elverys Sports (formerly Mahers )- 10%
        Oliver Plunkett Street, Cork City
      </p>
      <p>
        Considering the price of good quality jackets, boots, rucksacks, etc, the amount saved with the discount can often exceed the cost of membership! If you are just beginning, consider joining the club before you buy some gear. We have advice on what you should buy on the Beginners page.

      </p>
    </div>
  </div>
</div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>